<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--TODO change fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Telex" rel="stylesheet">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>     
<body>

<h2>(G)I-(wor)DLE</h2>
<h3>A Wordle-like daily game, based on <a href="https://squirdle.fireblend.com/daily">Squirdle</a></h3>
Guess today's (G)I-DLE song! You have {{attempts}} guesses left today. <div class="tooltip">Emoji Key<span class="tooltiptext">🟩: Correct guess<br>🟥: Incorrect guess<br>🔼: Guessed too low<br>🔽: Guessed too high</span></div>
<br><br>
{% if data|length > 0 %}
<div class="guesses">
    <div class="row">
        {% for hint in ["Name", "Album", "Release year", "Song length", "Guess"] %}
        <div class='column'>
            <p class="hint">{{hint}}</p>
        </div>
        {% endfor %}
    </div>
    
    {% for x in data %}
        <div class="row">
        {% for hint in ["Name", "Album", "Release year", "Song length", "Guess"] %}
              <div class='column'>
              {% if hint == "Guess" %}
              <div class="tooltip"><p class=guess>{{x[hint]}}</p>
                <span class="tooltiptext">{{x["songinfo"] | safe}}</span>
              </div>
              {% else %}
                <p class=emoji>{{x[hint]}}</p>
              {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div><br>
{%endif%}

{% if gameOver == 0 %}
{% if error %}
Song not found!
{% endif %}
<form autocomplete="off" method="POST">
  <div class="autocomplete" style="width:300px;">
    <input id="guess" type="text" name="guess" placeholder="Song Name">
  </div>
  <input type="submit" value="Submit">
</form>
{% endif %}
{% if gameOver == 1 %}
You won!
{% endif %}
{% if gameOver == 2 %}
You lost!
{% endif %}
{% if gameOver > 0 %}
Today's song was <b>{{secret}}</b>!<br>
<a class="togglec" onclick="copyCurrentDay('{{mosaic|safe}}')" href="#">📄 Share Result</a><br>
<br>
Come back tomorrow for another daily!
{% endif %}

<script>
var gsong = {{gsong | safe}};
autocomplete(document.getElementById("guess"), gsong);
</script>

</body>
</html>
